<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" type="text/css" href="css/styleIndex.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
      Twitter Sentiment Analysis
    </div>
    <div class="container">
      <fieldset>
        <form action="/monitor" method="get">
          <input name="phrase" type="text" class="ghost-input" placeholder="Enter phrase">
          <input type="submit" class="ghost-button" value="Analyze!">
        </form>
      </fieldset>
    </div>

    <div class="footer" align="right">
      <a href="https://www.ashwinnishad.com" id="website" target="_blank">ASHWIN NISHAD</a>
      <a href="https://www.linkedin.com/in/ashwinnishad77/" target="_blank"> <i class="fab fa-linkedin-in" id="linkedin"></i></a>
      <a href="https://github.com/ashwinnishad" target="_blank"><i class="fab fa-github" id="github"></i> </a>
    </div>
  </body>
</html>
